*, *:after, *:before {
  margin: 0;
  padding: 0;
}

body {
  background: black;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.wrapper {
  height: 300vh;
  width: 500px;
  margin: 0 auto;
  background: linear-gradient(77deg,rgba(34,193,195,0),rgba(255,235,0,0.25) 56%,rgba(253,45,94,0)),linear-gradient(41deg,rgba(34,193,195,0.66),rgba(177,191,108,0.42) 31%,rgba(253,45,94,0.83)),linear-gradient(315deg,#ff9800,#fcfa5c 31%,rgba(253,45,94,0.89));
}